.buttonCard{
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.508);
    max-height:350px;
    width: 300px;
    &__image{
        width: 200px;
        height: 180px;
        padding: 3px;
    }
}
.buttonCard:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.975);
    transition: 0.3s;
}
