body { 
  margin: 0; 
    padding: 0; 
}
.homeButtons{
    width: 100vw;
    height: 100vh;
    background-color: #6fd5fec1;
    max-height: 100vh;
    display: flex;
       flex-direction: column;
        text-align: center;
        
        &__input{
        height: 10%;
        flex: 1 ;
        display: flex;
        flex-direction: row;

        &__clear{
            flex: 1;
            margin-left: auto;
            padding: 10px;

        }
        &__search{
            flex: 6;
            padding: 10px;
        }
        &__nav{
            flex: 1;
            padding: 10px;
        }
    }

    &__buttons{
        padding-top: 20px;
        flex: 6 ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    
    }
}

input{
   height: 100%;
   font-size: 30px;
   border-radius: 20px;
   width: 100%;
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1224px) and (-webkit-min-device-pixel-ratio: 1) {

    body { 
        margin: 0; 
          padding: 0; 
      }
.homeButtons{
    background-color: #6fd5fec1;
    display: flex;
    display: flex;
       flex-direction: column;
        text-align: center;
        
             
        &__input{
            height: 10%;
            flex: 1 ;
            display: flex;
            flex-direction: row;
    
            &__clear{
                flex: 1;
                margin-left: auto;
            }
            &__search{
                flex: 6;
            }
            &__nav{
                flex: 1;
    
            }
        }
    
        &__buttons{
            padding-top: 20px;
            flex: 6 ;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        
        }
    }
    
    input{
       height: 100%;
       font-size: 30px;
       border-radius: 20px;
       width: 100%;
    }
    
}    
@media only screen and (max-width: 450px){
    body { 
       width: 100%;
      }
    .homeButtons{
    background-color: #6fd5fec1;
    display: flex;
       flex-direction: column;
        text-align: center;
         overflow: scroll;
        
            
         &__input{
            height: 5%;
            flex: 1 ;
            display: flex;
            flex-direction: row;
    
            &__clear{
                flex: 1;
                margin-left: auto;
            }
            &__search{
                flex: 6;
            }
            &__nav{
                flex: 1;
    
            }
        }
    
        &__buttons{
            padding-top: 20px;
            flex: 6 ;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        
        }
    }
    
    input{
       height: 100%;
       font-size: 30px;
       border-radius: 20px;
       width: 100%;
    }
    

}