
.home{
    width: 100vw;
    height: 100vh;
    background-color: #6fd5fec1;
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    overflow: hidden;

    &__left{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
        &__logo img{
            height: 250px;
        }
        &__image{
            transform: rotate(-18deg);
            width: 550px;
            height: 550px;
            border-radius: 50%;
            border: 5px dashed rgb(0, 0, 0);
            margin-left: 10%;
            margin-top: 45%;
            justify-content: center;
            align-items: center;
            display: flex;
           
            &__wrapper{
                justify-content: center;
                align-items: center;
                display: flex;
                background-color: #6fd5fec1;
                border-radius: 50%;
                height: 440px;
                width: 440px;
            }
        }
        &__image img{
            height: 300px;
        }
    &__right{
       justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        text-align: center;
    }
    &__text h4{
        font-weight: 10;
    }

    &__button button{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        cursor: pointer;
        height: 70px;
        width: 150px;
        border-radius: 15px;
        text-align: center;
        background-color: #FFC533;
        margin-left: 5%;
        color: black;
    }
    &__button button:hover{
        background-color: rgba(255, 255, 255, 0.705);
        transition: 0.3s;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1224px) and (-webkit-min-device-pixel-ratio: 1) {

    .home{
        background-color: #6fd5fec1;
        display: flex;
        flex-direction: row;
        max-width: 100%;
         padding: 0 20px;
       
    &__left{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
        &__image{
            transform: rotate(-18deg);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 5px dashed rgb(0, 0, 0);
            margin-left: 10%;
            margin-top: 75%;
            justify-content: center;
            align-items: center;
            display: flex;
           
            &__wrapper{
                justify-content: center;
                align-items: center;
                display: flex;
                background-color: #6fd5fec1;
                border-radius: 50%;
                height:170px;
                width:170px;
            }
        }
        &__image img{
            height: 100px;
        }
    &__right{
       justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        text-align: center;
        margin-right: 10%;
        margin-bottom: 20%;
    }
    &__text h4{
        font-weight: 10;
    }

    &__button button{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        width: 150px;
        border-radius: 15px;
        text-align: center;
        background-color: #FFC533;
        margin-left: 5%;
    }
    &__button button:hover{
        background-color: rgba(255, 255, 255, 0.705);
        transition: 0.3s;
    }
}
}
@media only screen and (max-width: 450px){
    .home{
        background-color: #6fd5fec1;
        display: flex;
        flex-direction: column;
        max-width: 100%;
         padding: 0 20px;
       
    &__left{
        flex: 1;
    }
        &__image{
            transform: rotate(-18deg);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 5px dashed rgb(0, 0, 0);
            margin-left: 15%;
            margin-top: 15%;
            justify-content: center;
            align-items: center;
            display: flex;
           
            &__wrapper{
                justify-content: center;
                align-items: center;
                display: flex;
                background-color: #6fd5fec1;
                border-radius: 50%;
                height:170px;
                width:170px;
            }
        }
        &__image img{
            height: 100px;
        }
    &__right{
        flex: 1;
    }
    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        text-align: center;
        margin-right: 10%;
        margin-bottom: 50%;
    }
    &__text h4{
        font-weight: 10;
    }

    &__button button{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        width: 150px;
        border-radius: 15px;
        text-align: center;
        background-color: #FFC533;
        margin-left: 5%;
    }
    &__button button:hover{
        background-color: rgba(255, 255, 255, 0.705);
        transition: 0.3s;
    }
} 
}
