.login{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: #6fd5fec1;
    &__right{
      width: 35%;
      margin-top: -8%
    }
    
    &__input{
        background-color: rgba(255, 255, 255, 0.75);
    }
    &__text{
        padding-top: 20px;
    }
}
form{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 80px auto;
    background-color: rgba(255, 255, 255, 0.313);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.352);
    padding: 50px 35px;
}


