body { 
    margin: 0; 
    padding: 0;  /* Remove body margins */
}
.navBar{
    background-color:  #6fd5fe;
    width: 100vw;
    height: 15vh;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    &__listItems{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    &__listItem{
        font-size: 16px;
        cursor: pointer;
        height: 100%;
        padding-right: 20px;
    }
}
// nav{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-left: 100vh;

// }
.dropdown{
    overflow: visible;
    position: relative;
    z-index: 10;

    &__Items{
        position: absolute;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.846);
  margin-top: 17px;
  padding: 5px;
    }
   
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1224px) and (-webkit-min-device-pixel-ratio: 1) {
    .navBar{
        background-color:  #6fd5fe;
        height: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 55px;

        &__listItem{
            font-size: 16px;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5%;
        margin-left: 38%;
    }
}

@media only screen and (max-width: 450px){
    .navBar{
        background-color:  #6fd5fe;
        height: 100%;
        display: flex;
        flex-direction: row;
        width: 28rem;
        max-width: 100%;

        &__listItem{
            font-size: 16px;
            display: none;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5%;
        margin-left: 50%;
    }
}
