.signup{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #6fd5fec1;
    &__right{
        width: 40%;
    }
   
    &__input{
        background-color: rgba(255, 255, 255, 0.75);
    }
    &__nameWrapper{
        display: flex;
        flex-direction: row;
        gap: 10%;
        justify-content: center;
    }
    &__name{
        width: 50%;
    }
    &__labelWrapper{
        display: flex;
        flex-direction: row;
        gap: 10%;
        justify-content: center;
    }
    &__label{
        width: 50%;
    }
   

}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 80px auto;
    background-color: rgba(255, 255, 255, 0.313);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.352);
    padding: 50px 35px;
}


@media only screen and (max-width: 450px){
    .signup{
    &__right{
        width: 90%;
        margin-top: -25%
      }
      
      &__input{
          background-color: rgba(255, 255, 255, 0.75);
      }
      &__text{
          padding-top: 20px;
      }
    form{
        font-family: 'Roboto', sans-serif;
        display: flex;
        gap: 15px;
        margin: 80px auto;
        background-color: rgba(255, 255, 255, 0.313);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.352);
        padding: 50px 35px;
    }
}
}