.signup{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    background-color: #6fd5fec1;
    &__right{
        flex: 1;
        margin-top: 10px;
        margin-left: 600px;
        margin-right: 150px;
    }
    &__left{
        flex: 1
    }
    &__input{
        background-color: rgba(255, 255, 255, 0.75);
    }
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.313);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.352);
    padding: 50px 35px;
}
