
 .modalContent {
    background-color: rgba(255, 255, 255, 0.888);
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    width: 40%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
  grid-template: 1fr  1fr;
  place-items: center;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.384);
    &__title{
        font-size: 30px;
    }
  }